<li>
  <% if (locals.user && locals.user.id == comment.user.id) {%>
    <small>
      <a href="/comment/destroy/<%= comment._id%>">X</a>
    </small>
    <%}%>
    <p>
      <%= comment.content %>
    <br>
</li>